<div id="center">
    <div class="vectors-line">
        <div class="test-vectors">
            <app-vectors [vectors]='vectors'></app-vectors>
        </div>
        <div class="editable-vector">
            <h3>Test</h3>
            <app-vector [vector]='vector' editable='true'></app-vector>
            <button (click)='calculate()'>Calculate</button>
        </div>
    </div>

    <div class="calculates" *ngIf="results && results.length > 0">
        <h3>Results </h3>

        <div class="method" *ngFor="let result of results">
            <h2>{{result.name}}</h2>

            <p *ngFor="let item of result.results"><strong>{{item.name}}</strong>: {{item.result}}</p>
        </div>
    </div>
</div>
