.vector {
    list-style: none;
    padding: 0px;
}

.vector .line {
    list-style: none;
    font-size: 0px;
    padding: 0px;
}

.vector .line li {
    display: inline-block;
    width: 25px;
    height: 25px;
    border: 1px solid #000;
    line-height: 120%;
    font-size: 100%;
}

.vector .line li.active {
    background: #666;
}
